<div class="w3-card-4">
  <div class="w3-container w3-brown">
    <h2>Giải phương trình bậc 2</h2>
  </div>
  <form class="w3-container" asp-action="GiaiPhuongTrinhBac2">
    <p>      
    <label class="w3-text-brown"><b>Hệ số A</b></label>
    <input class="w3-input w3-border w3-sand" name="HeSoA" type="text"></p>
    <p>      
    <label class="w3-text-brown"><b>Hệ số B</b></label>
    <input class="w3-input w3-border w3-sand" name="HeSoB" type="text"></p>
    <p>      
    <label class="w3-text-brown"><b>Hệ số C</b></label>
    <input class="w3-input w3-border w3-sand" name="HeSoC" type="text"></p>
    <p>
    <button class="w3-btn w3-brown">Giải phương trình</button></p>

    <h2 class="w3-text-brown">@ViewBag.ketqua</h2>
  </form>
</div>