

<form asp action="TinhTong">
    <label>Nhap so nguyen duong:</label>
    <input type="text" name="Number">
    <input type="submit" value="Tinh tong cac chu so">

    
<h3>@ViewBag.Sum</h3>
</form>

